.grid-item {
    padding: 20px;
    padding-left: 0;
    text-align: start;
  }
   
.icon{
    padding-top: 5px;
    padding-right: 20px;
    color: #34abeb;
  }

  .facilities{
    padding-top: 12px;
    padding-left: 34px;
    color: #8f8c8e;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.85;
  }