.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
.grid-item {
    padding: 30px;
    text-align: start;
    justify-content: center;
    
  }
  .num{
    font-size: 40px;
    color: #34abeb;
    margin-left: 30px;
  }
  .message{
    padding-top: 20px;
    align-items: center;
    color:#8f8c8e;
    font-weight: 800;
    margin-left: 30px;
  }